#img1,#img2,#img3,#img4,#img5{
  width: 350px;
  height: 450px;
  position:absolute;
  z-index:1;
  
}
#img1{
    left:0px;
    animation:mymove 4s infinite;
  }
  

#img2{
  left:650px;
  animation:mymove1 6s infinite;
}

  #img3{
    left:900px;
    animation:mymove2 6s infinite;
}

    #img4{
        left:300px;
        animation:mymove3 4s infinite;
    }
    
    @keyframes mymove {
        from {left:0px;}
        to  {left:50px;}
       }
 
@keyframes mymove1 {
 from {left:650px;}
 to  {left:700px;}
}
@keyframes mymove2 {
    from {left:900px;}
    to  {left:1050px;}
   }
   @keyframes mymove3 {
    from {left:200px;}
    to  {left:350px;}
   }

   #p1,#p2,#p3{
    position:absolute;
    z-index:5;
    animation:mmove 20s infinite ;
   }

   @keyframes mmove{
   from  {left:20px;}
   to   {left:600px;}
   }
  
 
   #dropdown {
    position: relative;
    display: inline-block;
  }
  
  #dc {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  #dc a {
    color: black;
    display: block;
  }
  
  
  
  #dropdown:hover #dc {display: block;}
  
  


   
 
 